p {
  margin-bottom: 0;
}

.navbar {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.12);
}

.highlight {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background-color: rgba(240, 240, 240, 0.5);
}

.material-icons {
  font-size: 18px;
  padding: 2px;
  margin-right: 2px;
}


.navbar .navbar-collapse .navbar-nav .nav-item .nav-link p {
    display: inline-block;
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
    padding: 15px 15px;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

.profile-name {
  text-transform: none;
  padding: 0 1rem;
}


