
img {
  width: 140px;
  height: auto;
  margin-top: 20px;
}

h4 {
  margin-top: 20px;
}

.fa {
  margin-right: 10px;
}

.btn-round {
  margin-top: 20px;
  margin-bottom: 35px;
}

.btn-info {
  background-color: #4267b2;
}

.btn-info:hover {
  background-color: #4267b2;
  box-shadow: 0 2px 2px 0 rgb(97, 159, 212), 0 3px 1px -2px rgba(97, 159, 212), 0 1px 5px 0 rgba(97, 159, 212);
}

.btn-info:active {
  background-color: #547ac7 !important;
  box-shadow: 0 2px 2px 0 rgb(97, 159, 212), 0 3px 1px -2px rgba(97, 159, 212), 0 1px 5px 0 rgba(97, 159, 212);
}

.btn-info:focus {
  background-color: #547ac7 !important;
  box-shadow: 0 2px 2px 0 rgb(97, 159, 212), 0 3px 1px -2px rgba(97, 159, 212), 0 1px 5px 0 rgba(97, 159, 212);
}

.content {
  padding: 0px 30px 0px 10px;
}

.card-signup {
  margin-top: 20vh;
}

.text-divider {
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
}
