img {
  width: 140px;
  height: auto;
  margin-top: 20px;
}

h4 {
  margin-top: 20px;
}

/* .fa {
  margin-right: 10px;
}

.btn-info {
  background-color: #4267b2;
}

.btn-info:hover {
  background-color: #4267b2;
  box-shadow: 0 2px 2px 0 rgb(97, 159, 212), 0 3px 1px -2px rgba(97, 159, 212), 0 1px 5px 0 rgba(97, 159, 212);
}

.btn-info:active {
  background-color: #547ac7 !important;
  box-shadow: 0 2px 2px 0 rgb(97, 159, 212), 0 3px 1px -2px rgba(97, 159, 212), 0 1px 5px 0 rgba(97, 159, 212);
}

.btn-info:focus {
  background-color: #547ac7 !important;
  box-shadow: 0 2px 2px 0 rgb(97, 159, 212), 0 3px 1px -2px rgba(97, 159, 212), 0 1px 5px 0 rgba(97, 159, 212);
} */

.page-header {
  height: 100vh;
  align-items: center;
  background-position: 50% top;
}

.section-signup .card-signup .card-body .input-group {
  padding-bottom: 7px;
  margin: 27px 0 0;
}

.card-signup {
  margin-top: 20vh;
  min-width: 300px;
}

.card-signup .card-body {
  padding: 0 30px 0 10px;
}

.text-divider {
  margin-top: 30px;
  margin-bottom: 0px;
  text-align: center;
}
