<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Ingresos</h4>
                        <p class="card-category">Aquí se presenta un resumen del dinero que has ingresado a tu <strong>Oinkii</strong> y otra información</p>
                    </div>
                    <div class="card-body">
                        <p *ngIf="userdataService.listaIngresos === null" class="card-text">Aún no tienes ingresos en tu <strong>Oinkii</strong></p>                        
                        <div class="table-responsive" *ngIf="userdataService.listaIngresos !== null">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Fecha
                                    </th>
                                    <th>
                                        Hora
                                    </th>
                                    <th>
                                        Concepto
                                    </th>
                                    <th>
                                        Cantidad
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let ingreso of userdataService.listaIngresos">
                                        <td *ngIf="ingreso.id">
                                            {{ ingreso.id | date }}
                                        </td>
                                        <td *ngIf="ingreso.id">
                                            {{ ingreso.id | date:'shortTime'}}
                                        </td>
                                        <td *ngIf="ingreso.id">
                                            {{ ingreso.concept }}
                                        </td>
                                        <td class="text-primary" *ngIf="ingreso.id">
                                            ${{ ingreso.quantity }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Gastos</h4>
                        <p class="card-category">Aquí se presenta un resumen del dinero que has sacado de tu <strong>Oinkii</strong> y otra información</p>
                    </div>
                    <div class="card-body">
                        <p *ngIf="userdataService.listaGastos === null" class="card-text">Aún no tienes gastos en tu <strong>Oinkii</strong></p>
                        <div class="table-responsive" *ngIf="userdataService.listaGastos !== null">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Fecha
                                    </th>
                                    <th>
                                        Hora
                                    </th>
                                    <th>
                                        Concepto
                                    </th>
                                    <th>
                                        Cantidad
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let gasto of userdataService.listaGastos">
                                        <td *ngIf="gasto.id">
                                            {{ gasto.id | date }}
                                        </td>
                                        <td *ngIf="gasto.id">
                                            {{ gasto.id | date:'shortTime' }}
                                        </td>
                                        <td *ngIf="gasto.id">
                                            {{ gasto.concept }}
                                        </td>
                                        <td class="text-primary" *ngIf="gasto.id">
                                            ${{ gasto.quantity }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
      