<div class="wrapper">
  <div class="sidebar" data-color='purple' data-image="">
      <app-sidebar *ngIf="userdataService.showbars"></app-sidebar>
      <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-3.jpg)"></div>
  </div>
  <div [ngClass]="{'main-panel':userdataService.showbars === true}">
      <app-navbar [ngClass]="{'invisible-bars':userdataService.showbars === false}"></app-navbar>
      <router-outlet (activate)="userdataService.barsOrNot()"></router-outlet>
      <app-footer [ngClass]="{'invisible-bars':userdataService.showbars === false}"></app-footer>
  </div>
</div>
